.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  height: 70px;
}

.col {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.flexbox.one {
  background-color: #ebe0d5
}

.flexbox.two {
  background-color: #ebddc2
}
.flexbox.three {
  background-color: #f1a96f
}

.flexbox.four {
  background-color: #f58b59
}
.flexbox.five {
  background-color: #f67154
}
